@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family: "Noto Serif", serif;
}

:root{
    --bg-color:#586d60;
    --border-color:#223528;
    --text-color:#ededed;
    --hover-color: #1e2621;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}
body {
    background-color:var(--bg-color);
    color:var(--text-color);
}

.header{
    position: fixed;
    border-bottom: 4px solid var(--border-color) ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content:' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar{
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover{
    color:var(--hover-color);
}

#menu-icon{
    font-size: 3.6rem;
    position: relative;
    color:var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 9%;

}

.home-content{
    max-width: 60rem;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animate{
    position: relative;
    width:32.8rem
}


.home-content h3 {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--hover-color);
} 

.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height:5rem
}
/* .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:34.5rem;
    height:5rem;

} */


.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height: 100%;
    background: var(--hover-color);
    border:.2rem solid var(--hover-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    color:var(--text-color); 
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem;
    overflow: hidden;
    transition: .5s;
   
}

.btn-box a:hover{
    color: rgb(153, 170, 136)
}


.btn-box a:nth-child(2)::before{
    background: var(--text-color);
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .5s;
}

.btn-box a :hover::before{
    width:100%;
}
   
.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content:space-between;
    margin: 20px;
}

.home-sci a {
    position: relative;
    display:inline-flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: tansparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    /* margin-top: 20px; */
}
.home-sci a:hover{
    color: var(--hover-color);
}


.home-sci a:hover::before{
    width: 100%;
}


.headshot img{
    display: flex;
    border-radius: 50%;
    border: 1rem solid var(--text-color);
    margin-left: 30%;
    margin-top: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    width: 60%;
    height: 50%;
    position: relative;
}

.headshot::before{ 
    content:' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 4s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;
}

/*KEYFRAMES ANIMATIONS*/
@keyframes showRight{
    100%{
        width: 0; 
    }
}

/* About Section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--border-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #ededed;
}
.about-content{
    text-align:center;
    display: flex;
    justify-content: center;
    border:.5rem solid #223528;
    align-items: center;
    flex-direction: column;
    color: var(--hover-color);
    font-weight: 600;
    font-size: 4rem;
    gap: 4rem;
    padding-bottom: 6rem;
    background: url(Images/milad-fakurian-UqP7U400AZs-unsplash.jpg);
}
.about-content h3{
    font-size:2.6rem;
}
.about-content p{
    font-size:2rem;
    font-weight: 600;
    margin: 2rem 0 3rem;
}

.btn-box .btns{
    display: inline-block;
    width: 50em;
}

.btn-box .btns a::before {
    background: var(--second-bg-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--hover-color);
    border-right: .2rem solid var(--hover-color);

}
.about-content .btn-box {
    display: inline-block;
    width: 34.5rem;
    height:5rem

 } 
 .about-content .btn-box a:hover{
    color: rgb(153, 170, 136)
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .3rem solid var(--border-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: " ";
    position: absolute;
    left: -1.1rem;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .3rem solid var(--border-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: var(--border-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--border-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: .6rem;
    z-index: -1;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns .btn{
    cursor:pointer;
}

.contact form .btn-box.btns .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height: 100%;
    background: var(--hover-color);
    border:.2rem solid var(--hover-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    color:var(--text-color); 
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem;
    overflow: hidden;
    transition: .5s;
   
}

.contact form .btn-box.btns .btn:hover{
    color: rgb(153, 170, 136)
}

.contact form .btn-box.btns .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .5s;
}

.contact form .btn-box.btns .btn:hover::before{
    width:100%;
}

/* footer section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--border-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--border-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    width: 100%;
    background-color:var(--hover-color)
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background:var(--bg-color);
    border: .2rem solid var(--bg-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--text-color);
    transition: .5s;
}

/* Animation reload and scroll */
/* .animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
} 
.logo .animate,
.navbar .animate
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}  */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding:2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding:0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
        color: var(--text-color);
    }

    .navbar.active{
        left: 0;
        transition-delay: .0s;
    }

    .navbar .active-nav{
        position: absolute;
        top:0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid regba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform:translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width:520px) {
    html{
        font-size: 50%;
    }
    .home-content h1{
        display:flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width:462px){
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding:10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field{
        width: 100%;

    }
    .footer{
        flex-direction: column-reverse;
    }

    .footer-text,
    .footer-iconTop{
        position: relative;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}

@keyframes showRight{
    100%{
        width:0;
    }
}